body {
	/* Background */
	background: var(--background-colour);
	margin: 0;
	background-repeat: no-repeat;
}

.main-body-container {
    display: block;
    width: 80%;
    margin: var(--page-navi-offset) auto 0px auto;

}

#background-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	width: 100%;
}

#background-container lottie-player {
	width: 100% !important;
}

#foreground-container {
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 2vw;
	display: inline-block;
	margin-top: 23vw;
	width: 100%;
}

/* Grid */
#projects-grid {
	display: inline-grid;
	gap: 2vw;
	grid-template-columns: auto auto auto auto;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-bottom: 2vw;
}

.project-item {
	width: 18.47vw;
	height: 26vw;
	display: flex;
	justify-content: center;
  	align-items: center;
}

img {
	width: 93%;
	box-shadow:0px 0px var(--shadow-blur) 0px var(--black-shadow);
	border-radius: 2vw;
	margin: 1vw;
	transition: 0.5s;
	margin: auto;
}

img:hover {
	width: 100%;
	box-shadow:0px 0px var(--shadow-blur) 0px var(--black-shadow-hover);
}

#contact-container {
	width: 80%;
	margin: 50px auto;
}