.pin-indicator {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-ui-white);
  border-radius: 50%;
  z-index: 10;
}

.pin-indicator-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: brightness(0);
}
