.title-component {
  width: 100%;
}

.title-component__title {
  font-family: 'Neue Montreal', sans-serif;
  font-size: var(--font-size-title);
  font-weight: 700;
  color: var(--color-ui-black);
  margin: 0 0 var(--spacing-sm) 0;
  line-height: 1.3;
}

.title-component__subtitle {
  font-family: 'Neue Montreal', sans-serif;
  font-size: var(--font-size-body);
  font-weight: 400;
  color: var(--color-ui-black);
  margin: 0;
  line-height: 1.5;
}
