/* --HERO-- */
.hero {
    height: 500px;
    /*Grid Properties*/
    display: grid;
    column-gap: var(--grid-spacing);
    row-gap: var(--grid-spacing);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    "main sideone"
    "main sidetwo"
    "main sidethree";
    margin-bottom: 100px;
}

.hero-child {
    display: block;
    padding: var(--container-padding);
    background-color: var(--accent-primary);
    border-radius: var(--border-radius-large);

    box-shadow: 0px 0px var(--shadow-blur) 0px var(--accent-primary-shadow);
    transition: var(--transition-fast);

    font-family: var(--header-font);
    font-size: 15pt;
    color: var(--text-light);
}

.hero-child:hover {
    box-shadow: 0px 0px var(--shadow-blur) 0px var(--accent-primary-shadow-hover);
}

#main-hero {
    grid-area: main;
    font-family: var(--title-font);
    padding: calc(var(--container-padding) - 7px) calc(var(--container-padding) + 10px);
    font-size: var(--title-size);

    overflow: hidden;
    display: relative;
}

#software-with-style-animation {
    float: right;
    width: 115%;
    transform: translate(50px, -260px);
}

#side-hero-one {
    grid-area: sideone;

    overflow: hidden;
    display: relative;
}

#side-hero-one p {
    position: relative;
    float: left;
}

#side-hero-one img {
    position: relative;
    float: right;
    width: clamp(50px, 30%, 65px);;
    transform: translate(0px, 30px);
}

#side-hero-two {
    grid-area: sidetwo;

    overflow: hidden;
    display: relative;

    padding-right: 0px;
}

#side-hero-two p {
    position: absolute;
}

#side-hero-two img {
    position: relative;
    float: right;
    width: 310px;
    transform: translate(110px, -30px);
}

#side-hero-three {
    grid-area: sidethree;
    background-color: transparent;
    box-shadow: none;

    display: block;
    padding: 0px 0px 20px 0px;
    height: 185px;
}

/* --PROJECTS-- */
.projects {
    display: block;
    width: 100%;
}

.projects h1 {
    font-family: var(--title-font);
    font-size: var(--header-size);
    color: var(--accent-secondary);
}

.projects-grid {
    margin-top: 20px;
    height: 500px;
    /*Grid Properties*/
    display: grid;
    column-gap: var(--grid-spacing);
    row-gap: var(--grid-spacing);
    grid-template-columns: 4fr 2fr 1fr 1fr;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
    "mainitem middleitem rightitem rightitem"
    "mainitem bottomitem bottomitem bottomitem";
    margin-bottom: 100px;
}

.projects-item {
    display: block;
    overflow: hidden;
    padding: var(--container-padding);
    background-color: var(--accent-secondary);
    border-radius: var(--border-radius-large);

    box-shadow: 0px 0px var(--shadow-blur) 0px var(--accent-secondary-shadow);
    transition: var(--transition-fast);

    font-family: var(--header-font);
    font-size: 15pt;
    color: var(--text-light);
}

.projects-item:hover {
    box-shadow: 0px 0px var(--shadow-blur) 0px var(--accent-secondary-shadow-hover);
}

.projects-item h1 {
    font-family: var(--header-font);
    color: var(--text-dark);
    font-size: calc(var(--logo-size));

    display: block;
    position: relative;
}

.projects-item p {
    font-family: var(--body-font);
    font-size: calc(var(--nav-link-size) - 2pt);
    color: var(--text-dark);

    display: block;
    position: relative;
}

#projects-main {
    grid-area: mainitem;
}

#projects-main img {
    height: 83%;
    margin-top: 25px;

}

#projects-mid {
    grid-area: middleitem;
}

#projects-mid img {
    margin-top: 25px;
    margin-left: 25px;
    transform: rotate(-13deg);
    width: 120%;
}

#projects-right {
    grid-area: rightitem;
}

#projects-right p, #projects-right h1 {
    text-align: right;
}

#projects-right img {
    margin: auto;
    margin-top: 25px;
}

#projects-bottom {
    grid-area: bottomitem;
    border-radius: 100px;
}

#projects-bottom img {
    margin-top: 7px;
    margin-right: 3px;
    float: right;
    width: 60px;
}

#projects-bottom h1 {
    margin-top: 12px;
    margin-left: 7px;
    font-size: calc(var(--logo-size) + 4pt);
}

/* --ABOUT-- */
.about {
    display: block;
    width: 100%;
}

.about h1 {
    font-family: var(--title-font);
    font-size: var(--header-size);
    color: var(--accent-tertiary);
}

.about-grid {
    margin-top: 20px;
    height: 500px;
    /*Grid Properties*/
    display: grid;
    column-gap: var(--grid-spacing);
    row-gap: var(--grid-spacing);
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 55% 23% 22%;
    grid-template-areas: 
    "lefttop rightleft rightright"
    "leftbottom rightleft rightright"
    "leftbottom aboutbutton aboutbutton";
    margin-bottom: 100px;
}

.about-item {
    display: block;
    overflow: hidden;
    padding: var(--container-padding);
    background-color: var(--accent-tertiary);
    border-radius: var(--border-radius-large);

    box-shadow: 0px 0px var(--shadow-blur) 0px var(--accent-tertiary-shadow);
    transition: var(--transition-fast);

    font-family: var(--header-font);
    font-size: 15pt;
    color: var(--text-light);
}

.about-item:hover {
    box-shadow: 0px 0px var(--shadow-blur) 0px var(--accent-tertiary-shadow-hover);
}

#about-left-top {
    grid-area: lefttop;
}

#about-left-bottom {
    grid-area: leftbottom;
}

#about-right-left {
    grid-area: rightleft;
}

#about-right-right {
    grid-area: rightright;
}

#about-button {
    grid-area: aboutbutton;

    border-radius: 110px;
}

#about-button img {
    margin-top: 12px;
    margin-right: 3px;
    float: right;
    width: 60px;
}

#about-button h1 {
    display: block;
    position: relative;

    margin-top: 17px;
    margin-left: 10px;
    font-family: var(--header-font);
    color: var(--text-dark);
    font-size: calc(var(--logo-size) + 4pt);
}