* {
    /*Colours*/
    --white: #FBF7F8;
    --black: #2E2624;
    --accent-primary: #EA3330;
    --accent-secondary: #9BBE5C;
    --accent-secondary-compliment: #0C594B;
    --accent-tertiary: #F6C7D1;
    --accent-tertiary-compliment: #EC668B;
    --accent-quaternary: #F8D270;
    /*Text Colours*/
    --text-light: #FBF7F8;
    --text-dark: #2E2624;

    /*Fonts*/
    --body-font: object_sans_regular;
    --header-font: object_sans_bold;
    --super-header-font: object_sans_heavy;
    --title-font: wunderpunkt-bold;
}