@charset "UTF-8";
/* CSS Document */
/*Global*/
* {
	box-sizing: border-box;
}

body {
	/* Background */
	background: #130f0e;
	margin: 0;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

li a {
	text-decoration: underline;
	font-family: object_sans_thin;
	color: #FCF7F8;
}

#masterContainer {
	width: 80vw;
	margin: auto;
}

/* Navigation */
#header-container {
	width: 80vw;
	height: 7vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	overflow: visible;
	margin: auto;
	position: fixed;
	z-index: 1;
}

#header-container a {
	text-decoration: none;
}

#header-container h1 {
	font-family: object_sans_heavy !important;
	color: #302624;
	background-color: #FFC5D1;
	padding: 1vw;
	border-radius: 1.25vw;
	font-size: 1.5vw;
	margin: 0 45vw 0 0;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}

#header-container h1:hover {
	padding: 1.25vw;
	font-size: 1.75vw;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
}

#header-container p {
	font-family: object_sans_bold !important;
	color: #FFC5D1;
	text-align: center;
	background-color: #302624;
	padding: 1vw 1vw;
	border-radius: 1.25vw;
	font-size: 1.25vw;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}

#header-container p:hover {
	padding: 1.25vw;
	font-size: 1.75vw;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.35);
}

#home {
	justify-content: center;
	align-items: center;
}

#nav-projects {
	justify-content: center;
	align-items: center;
}

#about {
	justify-content: center;
	align-items: center;
}

/* BODY */
#main-body-container {
	position: relative;
}

#background-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

#background-container lottie-player {
	width: 100%;
}

#foreground-container {
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 2vw;
	display: inline-block;
	margin-top: 23vw;
}

/* Grid */
#projects-grid {
	display: inline-grid;
	gap: 2vw;
	grid-template-columns: auto auto auto auto;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-bottom: 2vw;
}

.project-item {
	width: 18.47vw;
	height: 25vw;
	display: flex;
	justify-content: center;
  	align-items: center;
}

img {
	width: 93%;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
	border-radius: 2vw;
	margin: 1vw;
	transition: 0.5s;
	margin: auto;
}

img:hover {
	width: 100%;
}

/* Footer */
#footer-master-container {
	width: 70%;
	padding: 3vw 3vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFC5D1;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
	border-radius: 2.75vw;
	margin: 0 0 2vw;
	float: left;
}

#footer-left-container a {
	font-family: object_sans_regular !important;
	color: #302624 !important;
	text-decoration: underline;
	font-size: 1.5vw;
}

#footer-left-container p {
	font-family: object_sans_regular;
	margin: 0 0 1vw;
	color: #302624 !important;
}

#footer-about-container {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

#footer-about-container p {
	font-family: object_sans_regular;
	margin: 0;
}

#footer-left-container img {
	height: 1vw;
	margin: 0 0.5vw;
}

#contact-text {
	font-family: object_sans_thin;
	vertical-align: center;
}

#footer-right-container h1 {
	text-align: right;
	font-family: object_sans_regular;
	color: #302624;
	margin: 0 0 1vw;
	font-size: 1.5vw;
}

#footer-mobile-text {
	text-align: right;
	font-family: object_sans_regular;
	color: #302624;
	margin: 0 0 1vw;
	font-size: 1.25vw;
}

#footer-font-credit-text {
	text-align: right;
	font-family: object_sans_regular;
	color: #302624;
	margin: 0;
	font-size: 1.25vw;
}

/* Contact */
#contact-container {
	padding-top: 1vw;
	float: right;
	padding-bottom: 3vw;
	padding-left: 2vw;
	padding-right: 2vw;
	border-radius: 2.75vw;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
	background-color: #302624;
	display: inline-block;
	width: 27%;
}

/* Classes */
.bolded-object {
	font-family: object_sans_bold !important;
}

.regular-object {
	font-family: object_sans_regular !important;
	margin-top: 0 !important;
}

.section-title {
	font-family: wunderpunkt-bold;
	color: #FFC5D1;
	font-size: 3vw;
}

.section-title2 {
	font-family: wunderpunkt-bold;
	color: #FFC5D1;
	font-size: 3vw;
	margin-top: 1.7vw;
	display: inline-block;
}

.paragraph-indent1 {
	margin-left: 1.5vw !important;
}

p {
	font-family: object_sans_thin;
	font-size: 1.2vw;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0.7vw;
	color: #FCF7F8;
}

li {
	font-family: object_sans_thin;
	font-size: 1.2vw;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0.7vw;
	color: #FCF7F8;
	padding: 0, 0, 1.5vw, 1.5vw !important;
}

ul {
	list-style-type: none;
	background: url(../../images/arrow-right-white.svg) no-repeat left center;
	background-size: 1.2vw;
	background-position: 0.5vw 0;
	margin-top: 0;
	margin-bottom: 0;
}

/* Fonts */
@font-face {
	font-family: monument_extended-regular;
	src: url("../../fonts/monumentextended-regular-webfont.woff");
}

@font-face {
	font-family: monument_extended_bold;
	src: url("../../fonts/monumentextended-bold-webfont.woff");
}

@font-face {
	font-family: object_sans_thin;
	src: url("../../fonts/ObjectSans-Thin.woff");
}

@font-face {
	font-family: object_sans_regular;
	src: url("../../fonts/objectsans-regular-webfont.woff");
}

@font-face {
	font-family: object_sans_bold;
	src: url("../../fonts/objectsans-bold-webfont.woff");
}

@font-face {
	font-family: object_sans_heavy;
	src: url("../../fonts/objectsans-heavy-webfont.woff");
}

@font-face {
	font-family: wunderpunkt-bold;
	src: url("../../fonts/Wunderpunkt-Bold.woff");
}


