.bullet-point {
  font-size: var(--font-size-body);
  line-height: 1.6;
  margin-bottom: var(--spacing-sm);
  margin-left: var(--spacing-lg);
}

.bullet-point::marker {
  color: var(--color-ui-black);
}
