/*Global*/
* {
	all: unset;
}

* {
    /*Colours*/
    --white: #FBF7F8;
    --black: #2E2624;
    --accent-primary: #EA3330;
    --accent-secondary: #9BBE5C;
    --accent-secondary-compliment: #0C594B;
    --accent-tertiary: #F6C7D1;
    --accent-tertiary-compliment: #EC668B;
    --accent-quaternary: #F8D270;
    /*Text Colours*/
    --text-light: #FBF7F8;
    --text-dark: #2E2624;

    /*Fonts*/
    --body-font: object_sans_regular;
    --header-font: object_sans_bold;
    --super-header-font: object_sans_heavy;
    --title-font: wunderpunkt-bold;
}

header {
    width: 80%;
    display: block;
    margin: auto;
}

.navigation {
    display: grid;
    grid-template-columns: 15% auto 10% 20%;
    gap: 5px;
	align-content: center;
    margin-top: 30px;
    height: 50px;
    z-index: 3;
}

.navigation-spacer {
    width: 70%
}

.navigation-link, .navigation-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
}

.navigation-link a, .navigation-logo a {
    display: block;
    text-align: center;
    height: 100%;
    padding: 15px;
    transition: 0.25s;
    /*Text*/
    font-family: var(--header-font);
    font-size: 16pt;
    /*Style*/
    color: var(--accent-primary);
    background-color: var(--white);
    box-shadow: 0px 0px 20px 0px var(--accent-primary);
    border-radius: 17px;
}

.navigation-logo a {
    /*Text*/
    font-size: 18pt;
    font-family: var(--super-header-font) !important;
}

.navigation-link a:hover, .navigation-logo a:hover {
    font-size: 20pt;
    padding: 16px;
    border-radius: 17px;
    box-shadow: 0px 0px 30px 0px var(--accent-primary);
}

/* Fonts */
@font-face {
	font-family: monument_extended-regular;
	src: url("../../fonts/monumentextended-regular-webfont.woff");
}

@font-face {
	font-family: monument_extended_bold;
	src: url("../fonts/monumentextended-bold-webfont.woff");
}

@font-face {
	font-family: object_sans_thin;
	src: url("../fonts/ObjectSans-Thin.woff");
}

@font-face {
	font-family: object_sans_regular;
	src: url("../fonts/objectsans-regular-webfont.woff");
}

@font-face {
	font-family: object_sans_bold;
	src: url("../fonts/objectsans-bold-webfont.woff");
}

@font-face {
	font-family: object_sans_heavy;
	src: url("../fonts/objectsans-heavy-webfont.woff");
}

@font-face {
	font-family: wunderpunkt-bold;
	src: url("../fonts/Wunderpunkt-Bold.woff");
}

